.App {
  text-align: center;


}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* My css */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-family: arial;
  margin-top: 5vh;
  padding: 10px 20px 20px 20px;
}
.price {
  color: grey;
  font-size: 22px;
}

.cash_input
{
  font-size: 18px;
  margin-bottom: 8px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.add_button{

  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-bottom: 2px;
}
.add_button:hover {
  color: green;
  background-color: white;
  border-color: green;
}

.remove_button{
  color: white;
  background-color:red;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 2px;
  /* border: none; */
  border-style: solid;

}
.remove_button:hover {
  color: red;
  background-color: white;
  border-color: red;
}

.cash_data
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 10vh;
  padding: 20px;
}